.main {
    min-height: 100vh;
    display: flex;
    background-color: #777;
    justify-content: center;
}
.borderC {
    border-left: 6px solid red;
    background-color: lightgrey;
}

.BB {
    border-left: 6px solid green;
    background-color: lightgrey;
}
